#content,
.sticky-footers {
    background-color: #e3dfe4;
}

#wrapper .sidebar {
    color: rgb(51, 49, 49);
    font-weight: bold;
    background-color: #ffffff;
}

.fa-stethoscope {
    /* color: hsl(103, 77%, 50%); */
    color: #1cc88a;
    margin-left: 20px;
}

.sidebar-brand-text {
    color: rgb(179, 179, 179);
    font-family: 'Montserrat';
}

.nav-item .nav-link i {
    background-color: transparent;
    color: #1cc88a;
    font-size: 12px !important;
}

.nav-item .nav-link span {
    color: #9f9f9f;
    font-size: 12px !important;
}

.nav-item .nav-link i {
    padding-top: 6px;
}

.nav-item i,
.nav-item span {
    transition: 0.3s;
}

.nav-item:hover i,
.nav-item:hover span {
    color: hsl(103, 77%, 49%);
    font-weight: bold;
    font-size: 16px !important;
}

* {
    font-family: 'Montserrat';
}

.card {
    border: none;
}

/* utilities */
.tambah {
    border-radius: 100px 100px;
    float: right;
    font-weight: bold;
    background-image: linear-gradient(120deg, #62e793 0%, #8fd3f4 100%);
    color: white;
}

.body-kabeh {
    background-color: #d7d3d7;
}

.login {
    background-color: #d7d3d7;
}